<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>安卓tv控制器</title>
    <script src="vue.js"></script>
    <link href="index.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
</head>
<body>
<div id="app">
    <input type="checkbox" v-model="tv"> 用电视 <br>
    <div class="pad">
        <div class="pad_left" v-on:click.stop.prevent.self="send_key('KEYCODE_DPAD_LEFT');"></div>
        <div class="pad_up" v-on:click.stop.prevent.self="send_key('KEYCODE_DPAD_UP');"></div>
        <div class="pad_right" v-on:click.stop.prevent.self="send_key('KEYCODE_DPAD_RIGHT');"></div>
        <div class="pad_down" v-on:click.stop.prevent.self="send_key('KEYCODE_DPAD_DOWN');"></div>
        <div class="pad_center" v-on:click.stop.prevent.self="send_key('KEYCODE_DPAD_CENTER');"></div>
    </div>
    <div class="key" v-on:click.stop.prevent.self="send_key('KEYCODE_BACK');">返回</div>
    <div class="key" v-on:click.stop.prevent.self="send_key('KEYCODE_SETTINGS');">设置</div>
    <div class="key" v-on:click.stop.prevent.self="send_key('KEYCODE_INFO');">信息</div>
    <div class="key" v-on:click.stop.prevent.self="send_key('KEYCODE_PAGE_DOWN');">下页</div>
    <div class="key" v-on:click.stop.prevent.self="send_key('KEYCODE_PAGE_UP');">上页</div>
    <div class="key" v-on:click.stop.prevent.self="send_key('KEYCODE_VOLUME_UP');">大声</div>
    <div class="key" v-on:click.stop.prevent.self="send_key('KEYCODE_VOLUME_DOWN');">小声</div>
    <div class="key" v-on:click.stop.prevent.self="send_key('KEYCODE_VOLUME_MUTE');">静音</div>
    <div class="key" v-on:click.stop.prevent.self="send_key('KEYCODE_HOME');">主页</div>
    <div class="key" v-on:click.stop.prevent.self="send_key('KEYCODE_MENU');">菜单</div>
    <div class="key" v-on:click.stop.prevent.self="send_key('KEYCODE_POWER');">电源</div>
    <textarea v-model.trim="media_url" class="media_url" placeholder="如 http://a.com?a.mp3,需要提供后缀来识别"
    ></textarea>
    <input type="button" value="播放" v-on:click="play_media">
    <br>
    <textarea v-model="text" class="text" placeholder="输入上屏"></textarea>
    <input type="button" value="输入" v-on:click="commit_text">
    {{ message }}
</div>
<script src="index.js"></script>
</body>
</html>