* {
    box-sizing: border-box;
    resize: none;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    text-align: center;
    padding: 0;
    color: black;
}

#app {
    font-size: 1.5rem;
    text-align: center;
}

.unselect {
    user-select: none;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.toast {
    display: block;
    border-bottom: 1px solid darkgray;
    margin: 10px 0;
    text-align: center;
    color: coral;
    font-size: 2rem;
}

.media_url, .media_position {
    border: 0 none;
    border-bottom: 1px dashed black;
    margin-bottom: 10px;
    text-align: center;
    float: left;
    line-height: 4rem;
    font-size: 1.5rem;
}

.media_url {
    width: 70%;
}

.media_position {
    width: 30%;
    color: orange;
}

.media_position:after {
    content: '.';
    float: none;
    clear: none;
}

input.btn {
    border: 1px dotted black;
    border-radius: 12px;
    background: white;
    font-weight: bold;
    padding: 5px 10px;
    margin: 0 2px;
}